@charset "utf-8";

  /*디스플레이*/
  @media (min-width:992px) {
    .pc_display {
        display: block !important;
    }

    .m_display {
        display: none !important;
    }
}

@media (max-width:991px) {
    .pc_display {
        display: none !important;
    }

    .m_display {
        display: block !important;
    }
}


li,
ul {
    list-style: none;
}

.popup_wrap {
    z-index: 9999;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.popup_bg{
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    height:150%;
    position: absolute;
}

.popup_wrap ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 1006;
}

.popup_wrap ul li {
    height: 100%;
}

.popup_wrap img {
    width: 100%;
    max-width: 298px;
    height: auto;
}



.popup_btn {
    color: #fff; /*변경*/
    width: 100%;
    margin-bottom: 1%;
}

.popup_btn a {
    color: #fff;/*변경*/
    text-decoration: none;
    transition: all 0.5s;
}

.popup_btn a:hover {
    color: #eaeaea; /*변경*/
}

.links_position {
    position: relative;

}
.links_position a {
    z-index: 100;
}
.menu_links {
    left : 50%;
    transform: translate(-50% , 0);
    height: auto;
    position: absolute;
    border:1px solid red
}

.menu_link_1{
    padding: 6% 0;
    bottom:19%;
    width: 80%;
}
.menu_link_2{
    padding: 6% 0;
    bottom:9%;
    width: 80%;
}

.menu_link_3{
    padding: 15% 0;
    bottom:40%;
    width: 95%;
}

.menu_link_4{
    padding: 18% 0;
    bottom:5%;
    width: 95%;
}


@media (max-width:991px){
    .popup_wrap ul li{
        position: absolute;
        height:460px;
    }

    .popup_btn{
        width:100%;
        height:45px;
        background-color:#d2a885;
        margin-top:-2%;
    }
    .popup_btn a{
        color:#fff;
        display: block;
        padding-top: 10px;
    }

    .popupmenu_1{
        z-index: 2003;
    }
    .popupmenu_2{
        z-index: 2002;
    }
    .popupmenu_3{
        z-index: 2001;
    }
    .popupmenu_4{
        z-index: 2000;
    }
}


.fadeOutAction {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

.no_link {
    cursor: default;
}

@keyframes fade-out {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}
