@charset "utf-8";

    *{
        margin:0;
        padding: 0;
    }

    ul,li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    .floating_wrap{
        position: fixed;
        height:auto;
        left:10px;
        top:10px;
        width:200px;
        border-radius: 10px;
        z-index: 1004;
    }

    .floating_btn {
        position: relative;
        height:200px;
        top:0;
        border-radius: 10px;
    }

    .floating_btn li{
        border:2px solid #ffdf93;
        background-color:#322835;
        background-repeat: no-repeat;
        background-position: left 17px center;
        border-radius: 10px;
        content: "";
        left:132px;
        height: 66px;
        width:66px;
        position: absolute;
        transition: 0.5s;
        overflow: hidden;
    }
    .floating_btn li:hover{
        border:2px solid #ffdf93;
        left:0;
        width:200px;
    }

    .floating_btn li:nth-child(1){
        background-image: url('https://cdn.imweb.me/upload/S20211125d68167835f6db/a14830c674430.png');
    }




    .floating_btn li a{
        display: block;
        width:100%;
        height:100%;
    }
    .floating_btn li a span{
        color:#ffdf93;
        font-size:18px;
        font-weight: bold;
        display: block;
        position: relative;
        z-index: 1;
        line-height: 66px;
        text-align: left;
        margin-left:80px;
    }